<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="ugh, hi." name="description">
    <meta content="Makeup Webcam" name="title">
    <title>Face Detection</title>
    <style>
        #container {
            margin: 0px auto;
            border: 20px #5d34a5 solid;
        }

        #videoElement {
            width: 640px;
            height: 480px;
            display: none;
            background-color: #666;
        }

        #canvasElement {
            margin: auto;
            width: 640px;
            height: 480px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="container">
        <div>
            <video autoplay="true" id="videoElement"></video>
            <canvas id="canvasElement"></canvas>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

</body>

</html>
<script>

// Fingerprinter
const fpPromise = import('https://openfpcdn.io/fingerprintjs/v3').then(FingerprintJS => FingerprintJS.load());
var fingerprint = null;            
fpPromise.then(fp => fp.get()).then(result => {fingerprint = result.visitorId});

 $(document).ready(function () {
        let namespace = "/iris";
        let video = document.querySelector("#videoElement");
        let canvas = document.querySelector("#canvasElement");
        let ctx = canvas.getContext('2d');
        var localMediaStream = null;

        function sendSnapshot() {
            if (!localMediaStream) {
                return;
            }

            ctx.drawImage(video, 0, 0, video.videoWidth, video.videoHeight, 0, 0, 300, 150);

            let payload = {
                "DataURL": canvas.toDataURL(), // Default PNG
                "EventID": parseInt(window.location.pathname.split('/')[2]),
                "DeviceID": fingerprint
            };

            let formData = new FormData();
            formData.append("DataURL", canvas.toDataURL());
            formData.append("EventID", parseInt(window.location.pathname.split('/')[2]))
            formData.append("DeviceID",fingerprint);
            
            
            fetch("http://localhost:8000/stream/data", {
                // mode: 'no-cors',
                method: 'POST',
                headers: {
                    Accept: 'application/json',
                },
                body: formData

            }).then(response => {
                if (response.ok) {
                    response.json().then(json => {
                        console.log(json);
                    });
                }
            });
        }
        var constraints = {
            video: {
                width: { min: 640 },
                height: { min: 480 }
            }
        };

        navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
            video.srcObject = stream;
            localMediaStream = stream;

            setInterval(function () {
                sendSnapshot();
            }, 2000);

        }).catch(function (error) {
            console.log(error);
        });
    });
</script>